.index{
    background-color: rgb(255, 255, 255);
}


.ofertas{
    margin-top: 4%;
    border: 3px solid grey;
    margin-bottom: 30px;
}

.planes{

    background-image: url(../img/fondo.png);
    background-size: cover;

}

.contenido{
    padding: 30px;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.planes .card{

    background-color: rgb(173, 95, 236);

}

.planes *{

    font-size: 22px;

}

.form-registrar{

    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-registrar h4{

    font-size: 40px;
    margin-bottom: 20px;
}


.form-inicio{

    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-inicio h4{

    font-size: 40px;
    margin-bottom: 20px;
}